workflows/social-media-scheduler.json
{
  "name": "Social Media Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "={{$env.GOOGLE_SHEETS_DOC_ID}}",
        "sheetName": "ContentQueue",
        "options": {}
      },
      "id": "fetch-content",
      "name": "Fetch Content Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.status}}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{$json.scheduled_date}}",
              "rightValue": "={{$now.format('yyyy-MM-dd')}}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "filter-pending",
      "name": "Filter Pending Posts",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format content for each platform\nconst post = $input.all()[0].json;\n\nconst platforms = post.platforms.split(',').map(p => p.trim());\nconst results = [];\n\nfor (const platform of platforms) {\n  let formattedContent = {\n    platform,\n    content: post.content,\n    hashtags: [],\n    scheduled_time: post.scheduled_time\n  };\n  \n  // Platform-specific formatting\n  if (platform === 'twitter') {\n    formattedContent.content = post.content.substring(0, 280);\n    formattedContent.hashtags = post.hashtags.split(',').slice(0, 3);\n  } else if (platform === 'linkedin') {\n    formattedContent.content = post.content + '\\n\\n' + post.hashtags;\n  } else if (platform === 'instagram') {\n    formattedContent.content = post.content;\n    formattedContent.hashtags = post.hashtags.split(',');\n  }\n  \n  results.push(formattedContent);\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "format-content",
      "name": "Format for Platform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.platform}}",
                    "rightValue": "twitter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "twitter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.platform}}",
                    "rightValue": "linkedin",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "linkedin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.platform}}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "instagram"
            }
          ]
        }
      },
      "id": "route-platform",
      "name": "Route by Platform",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{$json.content}}"
            }
          ]
        }
      },
      "id": "post-twitter",
      "name": "Post to Twitter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "twitter-cred",
          "name": "Twitter OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "author",
              "value": "={{$env.LINKEDIN_AUTHOR_ID}}"
            },
            {
              "name": "lifecycleState",
              "value": "PUBLISHED"
            },
            {
              "name": "specificContent",
              "value": "={{{'com.linkedin.ugc.ShareContent': {'shareCommentary': {'text': $json.content}, 'shareMediaCategory': 'NONE'}}}}'"
            }
          ]
        }
      },
      "id": "post-linkedin",
      "name": "Post to LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 300],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "linkedin-cred",
          "name": "LinkedIn OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/me/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "instagramOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "caption",
              "value": "={{$json.content + ' ' + $json.hashtags.join(' ')}}"
            },
            {
              "name": "image_url",
              "value": "={{$json.image_url}}"
            }
          ]
        }
      },
      "id": "post-instagram",
      "name": "Post to Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 400],
      "credentials": {
        "instagramOAuth2Api": {
          "id": "instagram-cred",
          "name": "Instagram OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "={{$env.GOOGLE_SHEETS_DOC_ID}}",
        "sheetName": "ContentQueue",
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "id": "mark-posted",
      "name": "Mark as Posted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Fetch Content Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Content Queue": {
      "main": [
        [
          {
            "node": "Filter Pending Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Posts": {
      "main": [
        [
          {
            "node": "Format for Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Platform": {
      "main": [
        [
          {
            "node": "Route by Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Platform": {
      "main": [
        [
          {
            "node": "Post to Twitter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Twitter": {
      "main": [
        [
          {
            "node": "Mark as Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to LinkedIn": {
      "main": [
        [
          {
            "node": "Mark as Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Instagram": {
      "main": [
        [
          {
            "node": "Mark as Posted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "automation",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "social-media",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "pinData": {},
  "versionId": "1"
}